@font-face {
    font-family: 'broadwayregular';
    src: url('/broadway_regular-webfont.woff2') format('woff2'),
         url('/broadway_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div#middle {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
}

div#scroll {
  margin-top: 1%;
  padding: 1%;
  height: 21.3em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  overflow-y: scroll;
  border: thin black solid;
}

div#scroll span {
  display: block;
}

span#error, form#join, input#startbutton {
  margin-top: 2%;
}

div#rack div.highlighted {
  outline: .2rem solid;
}

span#title {
  margin: 1%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#gameid {
  width: 200%;
  text-align: center;
  margin-bottom: 3%;
}

div.App {
  font-family: 'broadwayregular';
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
}

div#message {
  border: thin black solid;
  margin-top: 1%;
  padding: 0.6%;
}

div.name {
  display: inline;
}

div.captured {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}

div.App > div.captured {
  width: 60%;
}

div.App > div.captured > div.square {
  width: 5%;
  margin: 0.5%;
}

div.opponent div.captured {
  margin-top: 5%;
  width: 100%;
}

div.captured div.square {
  width: 20%;
  margin: 1%;
  font-size: 2vw;
}

div.opponent {
  border: thin black solid;
  display: inline-flex;
  flex-direction: column;
  padding: 1%;
  width: 15%;
  margin: 0 0.3%;
}

div.opponent div.name {
  padding: 2% 0;
  border: thin black solid;
  width: 100%;
  text-align: center;
}

div#opponents {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#rack {
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

div#rack div.square {
  font-size: 3vw;
  margin: .2rem;
}

div#rack div.tilesleft {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.7vw;
  margin-left: 5rem;
}

div#rack div.tilesleft div.content {
  height: 70%;
}

div.board {
  width: 40%;
  padding-top: 1%;
  flex-wrap: wrap;
  display: flex;
}

div.square {
  border: thin black solid;
  position: relative;
  width: 8.1%;
  background-color: #fefff6;
  font-size: 2.5vw;
  text-align: center;
}

div.label {
  background-color: #e1e1fb;
}

span.error {
  color: #ba0000;
}

span.yourturn {
  animation:blinkingText .7s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes blinkingText{
  from {color: black;}
  to {color: white;}
}

div.board div.latest {
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

div.player1, span.player1 {background-color: #c5f0f9;}
@keyframes latestp1 {to   {background-color: #a5d0d9;}}
div.board div.latest.player1 {animation-name: latestp1;}

div.player2, span.player2 {background-color: #ffff8b;}
@keyframes latestp2 {to   {background-color: #dfdf6b;}}
div.board div.latest.player2 {animation-name: latestp2;}

div.player3, span.player3 {background-color: #c8e6c8;}
@keyframes latestp3 {to   {background-color: #a8c6a8;}}
div.board div.latest.player3 {animation-name: latestp3;}

div.player4, span.player4 {background-color: #f03f84;}
@keyframes latestp4 {to   {background-color: #d01f64;}}
div.board div.latest.player4 {animation-name: latestp4;}

div.player5, span.player5 {background-color: #f28c60;}
@keyframes latestp5 {to   {background-color: #d26c40;}}
div.board div.latest.player5 {animation-name: latestp5;}

div.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
div.square div.content {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.loader {
  font-size: 10%;
  margin: 10% auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #0dc5c1;
  background: -moz-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
